<h2>Add Activity</h2>
<form method="POST" action="{% url 'add_activity' %}">
  {% csrf_token %}
  <label for="name">Name:</label>
  <input type="text" name="name" required>
  <br>
  <label for="location">Location:</label>
  <input type="text" name="location" required>
  <br>
  <label for="description">Description:</label>
  <textarea name="description" required></textarea>
  <br>
  <button type="submit">Add Activity</button>
</form>

