<!DOCTYPE html>
<html>
<head>
  <title>About Us - Travel Planner</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <header>
    <h1 id="title1">JourneeJoy</h1>

    <ul class="navbar">
        <a href="">Home</a>
        <a href="{% url 'booking_form' %}">Hotels</a>
        <a href="{% url 'cabs' %}">Cabs</a>
        <a href="{% url 'busses'%}">Buses</a>
        <a href="{% url 'attractions'%}">Attractions</a>
        <a href="{% url 'packages'%}">Holiday Packages</a>
        <a href="#testimonial">Testimonial</a>
        <a href="{% url 'contactus' %}">Contact Us</a>
        <a href="{% url 'about'%}">About Us</a>
        

    </ul>
    <div class="header-btn">
        <a href="{% url 'login'%}" class="sign-in">Login</a>
        <a href="{% url 'signup' %}" class="Register">Register</a>
        
    </div>
</header>
  <div class="container">
    <h1>About Us</h1>
    <div class="about-us">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0R1z_JSVdoIAz3Ouih7XaifJou1kFMgEB2h74wOJ_hoL9nqNMMtal7FgWTLHl0oRlruM&usqp=CAU" alt="Our Team" class="team-image">
      <h2 class="section-title">Our Team</h2>
      <p class="section-description">At Travel Planner, we are a team of passionate travel enthusiasts who aim to provide the best travel experiences to our customers. With our expertise and dedication, we curate unique and memorable trips that cater to different preferences and budgets.</p>
    </div>
    <div class="about-us">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYVYfrn6_PHZo0cSI8kTPuIWQO2M59bvyfbw&usqp=CAU" alt="Our Mission" class="mission-image">
      <h2 class="section-title">Our Mission</h2>
      <p class="section-description">Our mission is to make travel planning seamless and enjoyable for everyone. We strive to offer personalized services, exceptional customer support, and carefully designed itineraries that showcase the beauty and cultural richness of each destination we cover.</p>
    </div>
  </div>
    </div>
   

    <footer>
        <div class="footer">
            <div class="footer-content">
                <div class="footer-section feeback">
                    <p><center>Help us in serving you better<center> </p><br>
                    <p><a href="feedback.html" class="feedback">  Give Feedback </a></p>
                
                </div>
                <div class="footer-section links">
                    
                    <p><center>Journee Joy<center></p><br>
                    <p><a href="signin.html" class="register"> Sign In/Register</a></p>
                </div>
                <div class="footer-section contact-form">
                    <div class="contact">
                        <span><i class="fa fa-phone"></i> &nbsp; 123-456-789</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span><i class="fa fa-envelope"></i> &nbsp; info@journeejoy.com</span>
                    </div><br>
                    <div class="socials">
                        <a href=""  style="color: white; text-decoration: none;" i class="fa-brands fa-facebook"></i></a>
                        <a href="" style="color: white; text-decoration: none;" i class="fa-brands fa-instagram"></i></a>
                        <a href="" style="color: white; text-decoration: none;" i class="fa-brands fa-twitter"></i></a>
                        <a href="" style="color: white; text-decoration: none;" i class="fa-brands fa-youtube"></i></a>
                    </div>
                </div>     
              </div>
      
            <div class="footer-bottom">
                &copy; journeejoy.com | Designed by Journeejoy Team<br>
                Copyright &copy 2023 journeejoy Online Private Limited, India. All rights reserved
            </div>
        </div>
      </footer>
      
</body>
</html>
<style>
   *{
    margin: 0px;
    padding: 0px;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: snow;
    padding: 15px 100px;


}
.navbar{
    display: flex;
}
#title1{
  margin-left: 150px;
}

.navbar a{
    font-size: 1rem;
    padding: 10px 20px;
    color:  #444;
    font-weight: 500;
    text-decoration: none;
}
.navbar a::after {
    width: 0;
    height: 3px;
    background: #fe5b3d,#ffac38;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;

}
.navbar a:hover::after {
    width: 100%;

}
.navbar a:hover{
    background-color: #fe5b3d;
    
}
.header-btn{
    display: flex;
}
.header-btn a{
    font-size: 1rem;
    padding: 10px 20px;
    color:  #444;
    font-weight: 500;
    text-decoration: none;
}
.header-btn a::after {
    width: 0;
    height: 3px;
    background: #fe5b3d,#ffac38;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;

}
.header-btn a:hover::after {
    width: 100%;

}
.header-btn a:hover{
    background-color: #fe5b3d;
    
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.about-us {
  margin-bottom: 40px;
}

.team-image,
.mission-image {
  width: 400px;
  height: 200px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.section-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.section-description {
  font-size: 16px;
  line-height: 1.5;
}
footer
  {
      background: #303036;
      color: #d3d3d3;
      height: 40vh;
      position: relative;
      /* margin-left:-800px; */
  
  }
  
  
  .footer .footer-content
  {
  height: 150px;
  display: flex;	
  }
  
  
  .footer .footer-content .footer-section
  {
      flex: 1;
      padding: 45px;
      
  }
  
  .footer .footer-bottom{
      background: #303036;
      color: #686868;
      height: 100px;
      width: 100%;
      text-align: center;
      position: absolute;
      bottom: 0px;
      left: 0px;
      padding-top: 20px;
  }
  .feedback
  {
      background-color: #A9A9A9;
      color: white;
      position: absolute;
      left: 170px;
      padding: 10px;
      padding-right: 30px;
      border: 1px solid white;
      border-radius: 200px;
      display: inline-block;
      text-decoration: none;
      padding-left: 30px;
  
  }
  
  .feedback:hover
  {
      background-color: #303036;
  }
  .register
  {
      text-decoration: none;
      color: white;
      
  }
  
  
  .footer .footer-content .footer-section .contact-form .socials
  {
      text-decoration: none;
      color:white;
  }


</style>