<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resort booking form</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<<<<<<< HEAD
    <header>
        <h1 id="title1">JourneeJoy</h1>

        <ul class="navbar">
            <a href="">Home</a>
            <a href="{% url 'booking_form' %}">Hotels</a>
            <a href="{% url 'cabs' %}">Cabs</a>
            <a href="{% url 'busses'%}">Buses</a>
            <a href="{% url 'attractions'%}">Attractions</a>
            <a href="{% url 'packages'%}">Holiday Packages</a>
            <a href="#testimonial">Testimonial</a>
            <a href="{% url 'contact_us' %}">Contact Us</a>
            <a href="{% url 'about'%}">About Us</a>
            

        </ul>
        <div class="header-btn">
            <a href="{% url 'login'%}" class="sign-in">Login</a>
            <a href="{% url 'register' %}" class="Register">Register</a>
            
        </div>
    </header>
=======
>>>>>>> d2d83735c72afb0e1df80c021e38bba94fdc31d1
    <div class="container">
        <form class="form-group" method="post" action="{% url 'book_hotel' %}">
            {% csrf_token %}
            <div id="form">
                <h1 id="title">Booking Now</h1>

                <div id="first-group">
                    <div id="content">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <input type="text" id="first-name" name="first_name" placeholder="First name">
                    </div>

                    <div id="content">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <input type="text" id="phone-number" name="phone_number" placeholder="Phone number">
                    </div>

                    <div id="content">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <input type="date" id="departure-date" name="departure_date" placeholder="Departure Date">
                    </div>

                    <div id="content">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <select id="guest-count" name="guest_count">
                            <option value="">No.of guests</option>
                            <option value="1-5">1-5</option>
                            <option value="6-10">6-10</option>
                            <option value="11-20">11-20</option>
                        </select>
                    </div>
                </div>

                <div id="second-group">
                    <div id="content">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <input type="text" id="last-name" name="last_name" placeholder="Last name">
                    </div>

                    <div id="content">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <input type="email" id="email" name="email" placeholder="Email">
                    </div>

                    <div id="content">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <input type="date" id="arrival-date" name="arrival_date" placeholder="Arrival Date">
                    </div>

                    <div id="content">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <select id="room-type" name="room_type">
                            <option value="">Room Type</option>
                            <option value="AC">AC</option>
                            <option value="Non-AC">Non-AC</option>
                            <option value="Single Bed">Single Bed</option>
                            <option value="Double Bed">Double Bed</option>
                        </select>
                    </div>
                </div>

                <button type="submit" id="submit-btn">Book Now</button>
            </div>
        </form>
    </div>
</body>
<style>
    *{
        margin: 0;
        padding: 0;
    }

<<<<<<< HEAD
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: snow;
    padding: 15px 100px;
    z-index: 1;


}
.navbar{
    display: flex;
}
#title1{
  margin-left: 150px;
}

.navbar a{
    font-size: 1rem;
    padding: 10px 20px;
    color:  #444;
    font-weight: 500;
    text-decoration: none;
}
.navbar a::after {
    width: 0;
    height: 3px;
    background: #fe5b3d,#ffac38;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;

}
.navbar a:hover::after {
    width: 100%;

}
.navbar a:hover{
    background-color: #fe5b3d;
    
}
.header-btn{
    display: flex;
}
.header-btn a{
    font-size: 1rem;
    padding: 10px 20px;
    color:  #444;
    font-weight: 500;
    text-decoration: none;
}
.header-btn a::after {
    width: 0;
    height: 3px;
    background: #fe5b3d,#ffac38;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;

}
.header-btn a:hover::after {
    width: 100%;

}
.header-btn a:hover{
    background-color: #fe5b3d;
    
}

=======
>>>>>>> d2d83735c72afb0e1df80c021e38bba94fdc31d1
    body{
        background-image: url(https://media.gettyimages.com/id/479113702/photo/falaknuma-palace-hyderabad-telangana-india-deities-line-the-staircase-at-falaknuma-palace-in.jpg?s=612x612&w=0&k=20&c=KUmSCICl8xMqNerFBOtZJIAfHNo9EvnQOxSeeRiU5WA=);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #form{
        background-color: #000;
        height: 400px;
        width: 800px;
        margin: auto;
        margin-top: 100px;
        opacity: 0.7;
    }

    #title{
        color: white;
        text-align: center;
    }

    #first-group{
        border: none;
        width: 400px;
        margin-top: 38px;
        position: absolute;
    }

    #content{
        border: 1px solid #fff;
        margin: 10px;
        margin-left: 8px;
        padding: 5px;
    }

    #content #input-group{
        border: none;
        outline: none;
        background: inherit; 
        margin-left: 8px;
        width: 300px;
        color: #fff;
    }

    ::placeholder{
        color: #fff;
    }

    .fa{
        display: inline-block;
        color: red;
        border-right: 1px solid #fff;
        padding: 8px;
        margin-left: 8px;
    }

    #second-group{
        border: none;
        width: 400px;
        margin-top: 55px;
        margin-left: 400px;
    }

    #submit-btn{
        margin-top: 30px;
        margin-left: 600px;
        background: transparent;
        color: #fff;
        width: 150px;
        border: 1px solid red;
        outline: none;
        padding: 10px;
        font-size: 20px;
    }
</style>
</html>
