<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservation Form</title>
    <style>
<<<<<<< HEAD
         *{
    margin: 0px;
    padding: 0px;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: snow;
    padding: 15px 100px;


}
.navbar{
    display: flex;
}
#title1{
  margin-left: 150px;
}

.navbar a{
    font-size: 1rem;
    padding: 10px 20px;
    color:  #444;
    font-weight: 500;
    text-decoration: none;
}
.navbar a::after {
    width: 0;
    height: 3px;
    background: #fe5b3d,#ffac38;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;

}
.navbar a:hover::after {
    width: 100%;

}
.navbar a:hover{
    background-color: #fe5b3d;
    
}
.header-btn{
    display: flex;
}
.header-btn a{
    font-size: 1rem;
    padding: 10px 20px;
    color:  #444;
    font-weight: 500;
    text-decoration: none;
}
.header-btn a::after {
    width: 0;
    height: 3px;
    background: #fe5b3d,#ffac38;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;

}
.header-btn a:hover::after {
    width: 100%;

}
.header-btn a:hover{
    background-color: #fe5b3d;
    
}

=======
>>>>>>> d2d83735c72afb0e1df80c021e38bba94fdc31d1
        .box {
            width: 650px;
            height: 700px;
            background-color: steelblue;
            margin: 0 auto;
            padding: 20px;
            text-align: center;
            font-family: Arial, sans-serif;
            color: white;
        }

        .box h1 {
            margin-top: 0;
        }

        .box label {
            display: block;
            margin-top: 10px;
            text-align: left;
        }

        .box input,
        .box select {
            width: 100%;
            padding: 5px;
            margin-top: 5px;
            box-sizing: border-box;
        }

        .box input[type="checkbox"] {
            display: inline;
        }

        .box button[type="submit"] {
            margin-top: 20px;
            background-color: #4caf50;
            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
        }

        .box button[type="submit"]:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
<<<<<<< HEAD
    <header>
        <h1 id="title1">JourneeJoy</h1>

        <ul class="navbar">
            <a href="">Home</a>
            <a href="{% url 'booking_form' %}">Hotels</a>
            <a href="{% url 'cabs' %}">Cabs</a>
            <a href="{% url 'busses'%}">Buses</a>
            <a href="{% url 'attractions'%}">Attractions</a>
            <a href="{% url 'packages'%}">Holiday Packages</a>
            <a href="#testimonial">Testimonial</a>
            <a href="{% url 'contact_us' %}">Contact Us</a>
            <a href="{% url 'about'%}">About Us</a>
            

        </ul>
        <div class="header-btn">
            <a href="{% url 'login'%}" class="sign-in">Login</a>
            <a href="{% url 'register' %}" class="Register">Register</a>
            
        </div>
    </header>
=======
>>>>>>> d2d83735c72afb0e1df80c021e38bba94fdc31d1
    <div class="box">
        <form>
            <h1>Reservation Form</h1>
            <label>Full Name</label>
            <input type="text" placeholder="First Name Last Name">
            <label>Email</label>
            <input type="text" placeholder="Email Address">
            <label>Mobile</label>
            <input type="text" placeholder="Mobile Number" maxlength="10">
            <label>Select your package</label>
            <select name="package">
                <option value="Goa">Goa</option>
                <option value="Malvan">Malvan</option>
                <option value="Ratnagiri">Ratnagiri</option>
            </select>
            <label>Arrival Date</label>
            <input type="date">
            <label>Number of Person</label>
            <input type="number" placeholder="Number of Persons">
            <label>What would you want to avail?</label>
            <input type="checkbox"> Boarding
            <input type="checkbox"> Fooding
            <input type="checkbox"> Sight Seeing
            <label>Discount coupon code</label>
            <input type="text" placeholder="Coupon Code">
            <label>Terms & Conditions</label>
            <input type="radio" name="r">I Agree
            <input type="radio" name="r">I Disagree
            <button type="submit">Confirm Reservation</button>
        </form>
    </div>
</body>
</html>
