<!-- planner/templates/planner/cabs.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservation Form</title>
    <style>
<<<<<<< HEAD
         *{
    margin: 0px;
    padding: 0px;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: snow;
    padding: 15px 100px;


}
.navbar{
    display: flex;
}
#title1{
  margin-left: 150px;
}

.navbar a{
    font-size: 1rem;
    padding: 10px 20px;
    color:  #444;
    font-weight: 500;
    text-decoration: none;
}
.navbar a::after {
    width: 0;
    height: 3px;
    background: #fe5b3d,#ffac38;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;

}
.navbar a:hover::after {
    width: 100%;

}
.navbar a:hover{
    background-color: #fe5b3d;
    
}
.header-btn{
    display: flex;
}
.header-btn a{
    font-size: 1rem;
    padding: 10px 20px;
    color:  #444;
    font-weight: 500;
    text-decoration: none;
}
.header-btn a::after {
    width: 0;
    height: 3px;
    background: #fe5b3d,#ffac38;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;

}
.header-btn a:hover::after {
    width: 100%;

}
.header-btn a:hover{
    background-color: #fe5b3d;
    
}
=======
>>>>>>> d2d83735c72afb0e1df80c021e38bba94fdc31d1
        .box {
            width: 650px;
            height: 700px;
            background-color: steelblue;
        }

        form {
            text-align: center;
        }
    </style>
</head>
<body>
<<<<<<< HEAD
    <header>
        <h1 id="title1">JourneeJoy</h1>

        <ul class="navbar">
            <a href="">Home</a>
            <a href="{% url 'booking_form' %}">Hotels</a>
            <a href="{% url 'cabs' %}">Cabs</a>
            <a href="{% url 'busses'%}">Buses</a>
            <a href="{% url 'attractions'%}">Attractions</a>
            <a href="{% url 'packages'%}">Holiday Packages</a>
            <a href="#testimonial">Testimonial</a>
            <a href="{% url 'contact_us' %}">Contact Us</a>
            <a href="{% url 'about'%}">About Us</a>
            

        </ul>
        <div class="header-btn">
            <a href="{% url 'login'%}" class="sign-in">Login</a>
            <a href="{% url 'register' %}" class="Register">Register</a>
            
        </div>
    </header>
=======
>>>>>>> d2d83735c72afb0e1df80c021e38bba94fdc31d1
    <div class="box">
        <form method="post">
            {% csrf_token %}
            <h1>Reservation Form</h1><br><br>
            <label>Full Name</label><br>
            <input type="text" name="full_name" placeholder="First Name Last Name" required><br>
            <label>Email</label><br>
            <input type="email" name="email" placeholder="Email_Address" required><br>
            <label>Mobile</label><br>
            <input type="text" name="mobile" placeholder="Mobile number" maxlength="10" required>
            <br><br>
            <label>Select your package</label><br>
            <select name="package" required>
                <option value="Goa">Goa</option>
                <option value="Malvan">Malvan</option>
                <option value="Ratnagiri">Ratnagiri</option>
            </select><br><br>
            <label>Arrival Date</label><br>
            <input type="date" name="arrival_date" placeholder="d/m/Y" required><br><br>
            <label>Number of Person</label><br>
            <input type="number" name="num_of_person" placeholder="UNKNOWN_TYPE" required><br><br>
            <label>What would you want to avail?</label><br>
            Boarding<input type="checkbox" name="boarding"><br>
            Fooding<input type="checkbox" name="fooding"><br>
            Sight Seeing<input type="checkbox" name="sight_seeing"><br><br>
            <label>Discount coupon code</label><br>
            <input type="text" name="discount_coupon" placeholder="UNKNOWN_TYPE"><br><br>
            <label>Terms & Conditions</label><br>
            <input type="radio" name="agree_terms" value="agree" required>I Agree
            <input type="radio" name="agree_terms" value="disagree" required>I Disagree<br><br>
            <button type="submit" value="submit">Confirm Reservation</button>
        </form>
    </div>
</body>
</html>
