{% extends 'base.html' %}

{% block content %}
  <h2>Cancel Trip</h2>
  <p>Are you sure you want to cancel "{{ trip.title }}"?</p>
  <form action="{% url 'cancel_trip' trip_id=trip.id %}" method="POST">
    {% csrf_token %}
    <button type="submit">Cancel Trip</button>
  </form>
{% endblock %}
