<header>
    <h1 id="title1">JourneeJoy</h1>

    <ul class="navbar">
        <a href="">Home</a>
        <a href="{% url 'booking_form' %}">Hotels</a>
        <a href="{% url 'cabs' %}">Cabs</a>
        <a href="{% url 'busses'%}">Buses</a>
        <a href="{% url 'attractions'%}">Attractions</a>
        <a href="{% url 'packages'%}">Holiday Packages</a>
        <a href="#testimonial">Testimonial</a>
        <a href="{% url 'contactus' %}">Contact Us</a>
        <a href="{% url 'about'%}">About Us</a>
        

    </ul>
    <div class="header-btn">
        <a href="{% url 'login'%}" class="sign-in">Login</a>
        <a href="{% url 'signup' %}" class="Register">Register</a>
        
    </div>
</header>

 <section>
    <h2>Contact Us</h2>
    <h3>Email : info@journeejoy.com</h3>
    <h3>Mobile Number : +91 1234123448</h3>
    </section>
    <br> 

    <h1></h1>
    <section style="text-align: center;"> 
        <h2>Contact Us</h2>
        <h3>Email : info@journeejoy.com</h3>
        <h3>Mobile Number : +91 1234123448</h3>
        </section>
        <br>
        <h1 style="text-align: center;">Query</h1><br>
<form method="POST" action="{% url 'contactus' %}" style="text-align: center;">
  {% csrf_token %}
  {{ form.as_p  }}<br>
  <button type="submit">Submit</button>
</form>



<style> *{
    margin: 0px;
    padding: 0px;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: snow;
    padding: 15px 100px;


}
.navbar{
    display: flex;
}
#title1{
  margin-left: 150px;
}

.navbar a{
    font-size: 1rem;
    padding: 10px 20px;
    color:  #444;
    font-weight: 500;
    text-decoration: none;
}
.navbar a::after {
    width: 0;
    height: 3px;
    background: #fe5b3d,#ffac38;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;

}
.navbar a:hover::after {
    width: 100%;

}
.navbar a:hover{
    background-color: #fe5b3d;
    
}
.header-btn{
    display: flex;
}
.header-btn a{
    font-size: 1rem;
    padding: 10px 20px;
    color:  #444;
    font-weight: 500;
    text-decoration: none;
}
.header-btn a::after {
    width: 0;
    height: 3px;
    background: #fe5b3d,#ffac38;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;

}
.header-btn a:hover::after {
    width: 100%;

}
.header-btn a:hover{
    background-color: #fe5b3d;
    
}</style>