{% extends 'base.html' %}

{% block content %}
  <h2>Delete Trip</h2>
  <p>Are you sure you want to delete "{{ trip.title }}"?</p>
  <form action="{% url 'delete_trip' trip_id=trip.id %}" method="POST">
    {% csrf_token %}
    <button type="submit">Delete</button>
  </form>
{% endblock %}
