

{% block content %}
  <h2>Trip Detail</h2>
  <h3>{{ trip.title }}</h3>
  <p>{{ trip.description }}</p>
  <p>Start Date: {{ trip.start_date }}</p>
  <p>End Date: {{ trip.end_date }}</p>

  <h4>Attendees</h4>
  {% if trip.attendees.all %}
    <ul>
      {% for attendee in trip.attendees.all %}
        <li>{{ attendee.name }} - {{ attendee.email }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No attendees for this trip.</p>
  {% endif %}

  <a href="{% url 'edit_trip' trip_id=trip.id %}">Edit</a>
  <form action="{% url 'delete_trip' trip_id=trip.id %}" method="POST">
    {% csrf_token %}
    <button type="submit">Delete</button>
  </form>
  <a href="{% url 'add_attendee' trip_id=trip.id %}">Add Attendee</a>
  <form action="{% url 'cancel_trip' trip_id=trip.id %}" method="POST">
    {% csrf_token %}
    <button type="submit">Cancel Trip</button>
  </form>
{% endblock %}
