{% block content %}
  <h1>Trips</h1>
  <ul>
    {% for trip in trips %}
    <h2>User Trips</h2>
      <li>Name : {{ trip.name }}</li>
      <li>Destination : {{ trip.destination}}</li>
      <br>
      <button>Edit</button>
      <button>Delete</button>
      <br>
      <br>
    {% endfor %}
  </ul>
{% endblock %}


