{% extends 'base.html' %}

{% block content %}
  <h2>Trip List</h2>
  {% for trip in trips %}
    <div>
      <h3><a href="{% url 'trip_detail' trip_id=trip.id %}">{{ trip.title }}</a></h3>
      <p>{{ trip.description }}</p>
      <p>Start Date: {{ trip.start_date }}</p>
      <p>End Date: {{ trip.end_date }}</p>
    </div>
  {% empty %}
    <p>No trips available.</p>
  {% endfor %}
{% endblock %}
